@import "./variables";

/* Används bara i javascript */
.d-none {
    display: none;
}

/* Styling */
header {
    display: flex;
    a{
        text-decoration: none; 
    }
    .logo {
        font-size: 40px;
        margin: auto;
    
    }
}




