@import "./variables";

/* Används bara i javascript */
.d-none {
    display: none;
}

/* Styling */
header {
    display: flex;
    position: fixed;
    width: 100%;
    background: white;
    z-index: 100;
    .logo-container{
        position: relative;
        width: 100vw;
        text-align: center;
    }
}

.hamburger-icon {
    font-size: 40px;
    border: transparent;
    background: transparent;
    color: $primaryGray;
    cursor: pointer;
    outline: none;
    z-index: 100;
    position: fixed;
    margin-top: -10px;
}

.menu-container{
    position: fixed;
    top: 0;
    height: 100%;
    min-height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    background: $primaryGray;
    border-right: 7px solid $primaryOrange;
    transition: all 0.3s;
    width: 0;
    z-index: 99;
    .navlist{
        padding-top: 50px;
        .navlist-item { 
            .active{
                display: inline-block;
            }
            .active::after{          
              content: '';
              height: 5px;
              background: $primaryOrange;
              border-radius: 5px;
              display: block;           
            }
            /* {
                text-decoration: underline;
                text-decoration-color: $primaryOrange;
                text-decoration-thickness: 5px;
                text-underline-offset: 0.2em;
            }  */  
            a {
                position: relative;
                display: flex;
                flex-direction: row;
                color: white;
                font-size: 18px;
                border-radius: 5px;
                text-decoration: none;
                margin: 3%;
                padding: 2%;
                &:hover{
                    color: $primaryOrange;
                }
                .drop-down {
                    color: white;
                    font-size: 30px;
                    top: 0;
                    right: 0;
                    position: absolute;
                    margin-right: 3%;
                }
            }
            .submenu {
                margin-left: 2vw;
            }
        }
    }
}

@media screen and (min-width: $largeScreen) {
    .hamburger-icon {
        display: none;
    }
    .menu-container {
        width: 20vw;
    }
    header .logo-container{
        margin-left: 20vw;
    }
}



