.correct{
    color: red;
}
.quiz{
    display: block;
    background-color: $callOutColor;
}

.question-box{
    visibility: hidden;
    position: absolute;
    opacity: 0;
    transition: opacity 300ms ease-in;
}
.active-question{
    position: inherit;
    visibility: visible;
    opacity: 1;
    background-color: $callOutColor;
}