
.quiz{
    display: block;
    background-color: white;
    border: $detailColor 3px solid;
    border-radius: 15px;
    max-width: 30em;
    margin: 2em auto 2em auto;
    box-shadow: 3px 7px 10px rgba($color: #000000, $alpha: .42);
    transition: border 100ms ease;
    position: relative;
}

.question-box{
    visibility: hidden;
    position: absolute;
    opacity: 0;
    top: 0;
    transition: opacity 300ms ease-in;
    text-align: center;
    .question{
        font-size: $h3;
        margin: 4%;
    }
    .button-box{

        .alternative{
            width: 90%;
            margin: 1%;
            padding: 1.5%;
            padding-left: 3%;
            background-color: white;
            border-radius: 6px;
            border: $primaryColor 1px solid; /*<------ Fix this color*/
            text-align: start;
            font-family: Open Sans;
            font-size: $p;
            position: relative;
            z-index: 0;
            transition: background 100ms ease;
        }
        .hover:hover{
            color: $secondaryColor;
            cursor: pointer;
        }

        .icon{
            visibility: hidden;
            position: absolute;
            right: 3%;
            top: auto;
            bottom: auto;
            font-size: 1.5rem;
        }
        .check{
            color: $detailColor;
        }
    }
    .next{
        border: none;
        color: black;
        font-size: $p;
        background-color: white;
        margin: 3%;
        &:hover{
            text-decoration: underline;
            text-decoration-thickness: 3px;
            cursor: pointer;
        }
        .next-icon{
            padding-left: .3em;
        }
    }
}
.active-question{
    position: inherit;
    visibility: visible;
    opacity: 1;
}
.darken{
    color: $primaryColor;
}