$primaryColor: #2D2D2D;
$secondaryColor: #BC5757;
$detailColor: #05463A;
$callOutColor: #E9EDFC;
$highlightStringColor: #1946A5;
$highlightBuiltInColor: #2054C7;
$highlightTitleColor: #13347a;
$largeScreen: 1200px;

$p: 1.1rem;
$h1: 2rem;
$h2: 1.7rem;
$h3: 1.5rem;
