@import "./header";
@import "./footer";

body {
    background-color: #ffff;
    font-family: Quicksand;
}

.wrapper {
    display: flex;
}

.navlist {
    background: $primaryColor;
    width: 20vw;
    min-width: 250px; 
    list-style-type: none;
    height: 100vh;
    position: absolute;
    padding-top: 1vw;
    .navlist-item {     
        a {
            position: relative;
            display: flex;
            flex-direction: row;
            background: #ffff;
            color: #000;
            font-size: 18px;
            border-radius: 5px;
            text-decoration: none;
            margin: 3%;
            padding: 2%;
            .drop-down {
                color: $primaryColor;
                font-size: 30px;
                top: 0;
                right: 0;
                position: absolute;
                margin-right: 3%;
            }
        }
        .submenu {
            margin-left: 2vw;
        }
        
    }
}

@media screen and (min-width: $largeScreen) {
    .hamburger-icon {
        display: none;
    }
    .navlist {
        display: block;
        position: static;
    }
}










