@charset "UTF-8";
/* Används bara i javascript */
.d-none {
  display: none;
}

/* Styling */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  background: white;
  padding-top: 0.5em;
  z-index: 100;
}

header .logo-container {
  position: relative;
  width: 100vw;
  text-align: center;
}

.hamburger {
  font-size: 40px;
  border: transparent;
  background: transparent;
  color: #2D2D2D;
  cursor: pointer;
  outline: none;
  z-index: 100;
  position: fixed;
  margin-top: -10px;
}

.close-icon {
  width: 100%;
  margin: 12px 0 0 2px;
  visibility: hidden;
}

.menu-container {
  position: fixed;
  top: 0;
  height: 100%;
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #2D2D2D;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
  z-index: 99;
}

.menu-container .navlist {
  padding-top: 50px;
}

.menu-container .navlist .navlist-item .active {
  display: inline-block;
}

.menu-container .navlist .navlist-item .active::after {
  content: '';
  height: 5px;
  background: #BC5757;
  border-radius: 5px;
  display: block;
}

.menu-container .navlist .navlist-item a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  font-size: 1.2rem;
  border-radius: 5px;
  text-decoration: none;
  margin: 3%;
  padding: 2%;
}

.menu-container .navlist .navlist-item a:hover,
.menu-container .navlist .navlist-item a:hover > .drop-down {
  color: #BC5757;
}

.menu-container .navlist .navlist-item a .drop-down {
  color: white;
  font-size: 1.5rem;
  margin: 0 3% 0 3%;
}

.menu-container .navlist .navlist-item .submenu {
  margin-left: 2vw;
}

@media screen and (min-width: 1200px) {
  .hamburger-icon {
    display: none;
  }
  .menu-container {
    width: 20vw;
    border-right: 7px solid #BC5757;
  }
  header .logo-container {
    margin-left: 20vw;
  }
}

footer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 80px;
  background-color: #fbfafd;
}

@media screen and (min-width: 1200px) {
  footer p {
    padding-left: 20vw;
  }
}

body {
  background-color: #ffff;
  font-family: Roboto;
}

.main-content {
  padding-top: 50px;
  min-height: calc(100vh - 130px);
}

.main-content section {
  max-width: 60em;
  margin: auto;
  padding: 2vw 3vw 4vw 3vw;
}

.main-content section .quiz {
  display: block;
  background-color: white;
  border: #05463A 3px solid;
  border-radius: 15px;
  max-width: 30em;
  margin: 0 auto 2% auto;
  -webkit-box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.42);
          box-shadow: 3px 7px 10px rgba(0, 0, 0, 0.42);
  -webkit-transition: border 100ms ease;
  transition: border 100ms ease;
}

.main-content section .question-box {
  visibility: hidden;
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in;
  text-align: center;
}

.main-content section .question-box .question {
  font-size: 1.5rem;
  margin: 4%;
}

.main-content section .question-box .button-box .alternative {
  width: 90%;
  margin: 1%;
  padding: 1.5%;
  padding-left: 3%;
  background-color: white;
  border-radius: 6px;
  border: #2D2D2D 1px solid;
  /*<------ Fix this color*/
  text-align: start;
  font-family: Open Sans;
  font-size: 1.1rem;
  position: relative;
  z-index: 0;
  -webkit-transition: background 100ms ease;
  transition: background 100ms ease;
}

.main-content section .question-box .button-box .hover:hover {
  color: #BC5757;
  cursor: pointer;
}

.main-content section .question-box .button-box .icon {
  visibility: hidden;
  position: absolute;
  right: 3%;
  top: auto;
  bottom: auto;
  font-size: 1.5rem;
}

.main-content section .question-box .button-box .check {
  color: #05463A;
}

.main-content section .question-box .next {
  border: none;
  color: black;
  font-size: 1.1rem;
  background-color: white;
  margin: 3%;
}

.main-content section .question-box .next:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
  cursor: pointer;
}

.main-content section .question-box .next .next-icon {
  padding-left: .3rem;
}

.main-content section .active-question {
  position: inherit;
  visibility: visible;
  opacity: 1;
}

.main-content section .darken {
  color: #2D2D2D;
}

.main-content section h1 {
  color: #BC5757;
  font-size: 2rem;
  line-height: 2;
  font-weight: 500;
}

.main-content section h2 {
  color: #2D2D2D;
  font-size: 1.7rem;
  line-height: 2;
  margin-top: 50px;
}

.main-content section h3 {
  color: #2D2D2D;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2;
  margin-top: 30px;
}

.main-content section p {
  font-size: 1.1rem;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
}

.main-content section .callout {
  background-color: #E9EDFC;
  padding: 1em;
  margin: 1em auto;
  max-width: 55em;
}

.main-content section .postman-guide-img {
  max-width: 90%;
  display: block;
  margin: 4vw auto;
  border: #BC5757 2px solid;
}

.main-content section .vertical {
  max-width: 50%;
}

.main-content section .smallImg {
  max-width: 30%;
}

.main-content section .tab {
  overflow: hidden;
}

.main-content section .tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.1rem;
}

.main-content section .tab button:hover {
  color: #BC5757;
}

.main-content section .tab .active::after {
  content: '';
  height: 5px;
  background: #BC5757;
  border-radius: 5px;
  display: block;
}

.main-content section .tabcontent {
  display: none;
  padding: 6px 12px;
  background: #E9EDFC;
}

.main-content section .nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-content section .nav-buttons button {
  background: white;
  color: black;
  min-height: 44px;
  width: 120px;
  border: #05463A 2px solid;
  font-family: 'Roboto', sans-serif;
  padding: 10px;
  font-size: 1.1em;
  border-radius: 5px;
  cursor: pointer;
  margin: 2em auto;
}

.main-content section .nav-buttons button:hover {
  background-color: #2D2D2D;
  color: #BC5757;
}

.exampleImg {
  width: 100%;
  margin: 2vw 0;
}

@media screen and (min-width: 1200px) {
  .main-content {
    width: 80vw;
    float: right;
  }
}
/*# sourceMappingURL=style.css.map */