@charset "UTF-8";
/* Används bara i javascript */
.d-none {
  display: none;
}

/* Styling */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  background: white;
}

header .logo-container {
  width: 100vw;
  text-align: center;
}

header .logo-container .logo {
  font-size: 40px;
  margin: 5px auto;
  z-index: 1000;
  color: #140388;
  text-decoration: none;
}

.hamburger-icon {
  font-size: 40px;
  border: transparent;
  background: transparent;
  color: #140388;
  cursor: pointer;
  outline: none;
  z-index: 100;
  position: fixed;
  margin-top: -10px;
}

.menu-container {
  position: fixed;
  top: 0;
  height: 100%;
  min-height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: hidden;
  background: #b8b4ff;
  background: linear-gradient(229deg, #b8b4ff 0%, #98c7ff 100%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 0;
}

.menu-container .navlist {
  padding-top: 50px;
}

.menu-container .navlist .navlist-item .active {
  background: #140388;
  color: white;
}

.menu-container .navlist .navlist-item a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: white;
  color: #140388;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
  margin: 3%;
  padding: 2%;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.menu-container .navlist .navlist-item a:hover {
  background: #fbfafd;
  color: #140388;
  border-color: #140388;
  border-width: 2px;
  border-style: solid;
}

.menu-container .navlist .navlist-item a .drop-down {
  color: #140388;
  font-size: 30px;
  top: 0;
  right: 0;
  position: absolute;
  margin-right: 3%;
}

.menu-container .navlist .navlist-item .submenu {
  margin-left: 2vw;
}

@media screen and (min-width: 1200px) {
  .hamburger-icon {
    display: none;
  }
  .menu-container {
    width: 20vw;
  }
  header .logo-container {
    margin-left: 20vw;
  }
}

footer {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 80px;
  background-color: #fbfafd;
}

@media screen and (min-width: 1200px) {
  footer p {
    padding-left: 20vw;
  }
}

body {
  background-color: #ffff;
  font-family: Quicksand;
}

.main-content {
  padding-top: 50px;
  min-height: calc(100vh - 130px);
}

.main-content section {
  /*  margin: 0 6vw;
        padding-bottom: 4vw;
        padding-top: 2vw; */
  text-align: justify;
  max-width: 60em;
  margin: auto;
  padding: 2vw 3vw 4vw 3vw;
}

.main-content section h1 {
  color: #140388;
  font-size: xx-large;
  line-height: 2;
}

.main-content section h2 {
  color: #140388;
  font-size: x-large;
  font-weight: 700;
  line-height: 2;
  margin-top: 50px;
}

.main-content section h3 {
  color: #140388;
  font-size: large;
  line-height: 2;
  margin-top: 30px;
}

.main-content section p {
  max-width: 60em;
  margin: auto;
  font-size: 1.1em;
  line-height: 1.6;
}

.main-content section .callout {
  background-color: #e1e7ff;
  padding: 1em;
  margin: 1em auto;
  max-width: 55em;
}

.main-content section button {
  background-color: #140388;
  color: white;
  min-height: 44px;
  border: none;
  font-family: Quicksand;
  padding: 10px;
  font-size: 1.1em;
  margin-top: 2em;
  border-radius: 5px;
  cursor: pointer;
}

.main-content section button:hover {
  background-color: #2a199c;
}

.exampleImg {
  max-width: 60em;
  width: 100%;
  margin: 2vw 0;
}

@media screen and (min-width: 1200px) {
  .main-content {
    width: 80vw;
    float: right;
  }
}
/*# sourceMappingURL=style.css.map */