@import "./header";
@import "./footer";

body {
    background-color: #ffff;
    font-family: Quicksand;
}

.main-content{
    padding-top: 50px;
}

@media screen and (min-width: $largeScreen) {
    .main-content{
        width: 80vw;
        float: right;
    }

}